.FeaturedScript-container {
    overflow: auto;
    height: 100%;
    margin: 15px;
}

.FeaturedScript {
    height: 200px;
    padding: 15px;
    position: relative;
    padding-left: 180px;
    background-color: #F7F7F7;
    width: calc(75% - 7.5px);
    margin-bottom: 15px;   
}

.FeaturedScript-image {
    position: absolute;
    left: 15px;
    width: 150px;
    height: 170px;
}

.FeaturedScript-button {
    position: absolute;
    bottom: 16px;
    left: 180px;
    margin: 0;
}

.FeaturedScript-title {
    margin-bottom: 0;
}

.FeaturedScript-author {
    margin-top: 0;
}