.FeaturedScript-container {
    overflow: auto;
    height: 90%;
    margin: 15px;
}

.FeaturedScript {
    padding: 15px;
    position: relative;
    padding-left: 180px;
    background-color: #F7F7F7;
    min-width: 500px;
    max-width: 1000px;
    min-height: 200px;
    margin-bottom: 15px;   
}

.FeaturedScript-image {
    position: absolute;
    left: 15px;
    width: 150px;
    height: 170px;
    object-fit: contain;
}

.FeaturedScript-button {
    margin: 0;
}

.FeaturedScript-title {
    margin-bottom: 0;
}

.FeaturedScript-author {
    margin-top: 0;
}