.Pagination {
	background: #fff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: center;
	list-style: none;
	padding: 10px 0;
}

.Pagination-button {
	cursor: pointer;
}

.Pagination-middle {
	height: 29px;
	line-height: 29px;
	padding: 2px 5px;
	margin: 0 10px;
}

.Pagination-pageCount {
	height: 29px;
	margin-bottom: 0;
	margin-left: 0;
	text-align: center;
	vertical-align: top;
	width: 40px;
}