<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" requireReinstallation="True" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net35" />
  <package id="log4net" version="2.0.3" targetFramework="net35" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net35" />
  <package id="RedGate.AppHost" version="0.0.1.43-KeyPath" targetFramework="net35" />
  <package id="RedGate.SIPFrameworkShared" version="1.0.1.241" targetFramework="net35" />
</packages>