doctype html
html(ng-app="sqlScripts")
  head
    meta(charset="utf-8")
    title SQL Scripts

    link(rel="stylesheet", href="/main.css")

    script(src="/combined.js")
  body(ng-controller="BaseController")
    .NavigationBar
      ul.Navigation
        li.Navigation-item(data-menu-item)
          a.Navigation-link(href="#/featured") Featured
        li.Navigation-item(data-menu-item)
          a.Navigation-link(href="#/all") All Scripts
        li.Navigation-item(data-menu-item)
          a.Navigation-link(href="#/favorites")
            span Favorites
            span(ng-show="favoritesUpdated > 0")
              span  (
              span(ng-bind="favoritesUpdated")
              span )
        li.Navigation-item(data-menu-item)
          a.Navigation-link(href="#/contribute") Contribute

      ul.Login
        li
          span(ng-show="auth.isLoggedIn")
            span(ng-bind="auth.username")
            |  (
            a.Login-link(ng-click="doLogout()") Logout
            | )
          a.Login-link(ng-show="!auth.isLoggedIn" ng-click="doLogin()") Log in
    ng-view

    .Loading-backdrop(ng-class="{'is-loaded': loading.pageLoaded }")
    .Loading.Loading--page(ng-class="{'is-loaded': loading.pageLoaded }")
        .Loading-item
        .Loading-item
        .Loading-item
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-40867164-2', 'auto');
